@media screen and (min-width: 768px) /*desktop*/ {
    footer {
        position: relative;
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        background-color: #2980B9;
        height: 200px;
    }

    .informazioni {
        background: #4CAF50;
        height: 50px;
        width: 100%;
    }

    p {
        display: inline-block;
        margin-left: 20%;
    }
}
@media screen and (min-width: 600px) and  (max-width: 767px) /*tablet*/
{
    footer {
        position: relative;
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        background-color: #2980B9;
        height: 200px;
    }

    .informazioni {
        background: #4CAF50;
        height: 50px;
        width: 100%;
    }

    p {
        display: inline-block;
        margin-left: 20%;
    }
}
@media screen and (min-width: 320px) and  (max-width: 599px)/*phone*/
{
    footer {
        position: relative;
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        background-color: #2980B9;
        height: 200px;
        
    }

    .informazioni {
        background: #4CAF50;
        height: 50px;
        width: auto;
    }

    p {
        display: inline-block;
        margin-left: 20%;
        width: 50%;

    }
}