@charset "ISO-8859-1";

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #3a416a; /*#525c8e;*/
    /*height: 60%;*/
    padding-bottom:5px;
    color:white;
}



#footerIcons
{
	
	width:50%;
	margin-left:auto;
	margin-right:auto;
	
	
}

#chiSiamoDiv
{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:none;
}

#contattaciDiv
{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
	display:none;
}

#footerHeaders
{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#footerHeaders ul
{
	margin-left:auto;
	margin-right:auto;
	list-style-type: none;	
	text-align:center;
}

#footerHeaders ul li
{
	display:inline;
	padding:5px;
}

#footerIcons img
{
	width:40px;
	height:auto;
}

#footerIcons ul
{
	margin-left:auto;
	margin-right:auto;
	list-style-type: none;	
	text-align:center;
}

#footerIcons ul li
{
	display:inline;
	padding:5px;
}

#informazioniFooter {
  /*  background: #3a416a;*/
    height: 50px;
    width:80%;
    border-style:none;
     margin: 0 auto;
     table-layout:fixed;
     border-collapse:separate; 
	border-spacing:3em;
}

b
{
	font-size:1.3em;
}

td img
{
    width: 40px;
}

.socialLink
{
	text-decoration:none;
	color:inherit;
}

.socialLink:hover {
  background-color: red;
  
}

#informazioniFooter td{
    word-wrap: break-word;
    text-align: center;
    
}

#copyright
{
	text-align:center;
}

/*
#informazioniFooter	p {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}*/

 

@media screen and (min-width: 320px) and  (max-width: 599px)
{
	/*#informazioniFooter {
        width: auto;
    }
	
	#informazioniFooter	p {
        width: 50%;
    }*/
    

    
}


@media screen and (max-width: 523px) {
	#footerIcons img
	{
		width:30px;
		height:auto;
	}
}

@media screen and (max-width: 600px) {
  #informazioniFooter {
    border: 0;
  }

  
  #informazioniFooter thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  #informazioniFooter tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  #informazioniFooter td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  #informazioniFooter td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #informazioniFooter td:last-child {
    border-bottom: 0;
  }
}