@media screen and (min-width: 768px) /*desktop*/
{
    .menuCentrale
    {
        margin-top: 10%;
        margin-left: 10%;
    }

    table
    {
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
        height: auto;
        margin-right: 5%;
        border: 1px solid darkgrey;
        border-collapse: collapse;
        text-align: center;

    }

    h3
    {
        text-align: left;
        margin-left: 35%;
        margin-top: 20%;
        height: 200px;
    }

    #tdSx
    {

        width: 50%;

    }
    #tdDx
    {
        width: 50%;

    }

    form
    {
        display: inline;
    }
    #copertine
    {
        float: left;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    #FirstRow {
        line-height: 1px;
        background-color: #B9B9B9
    }



    #carrello
    {

        background-color: #f3235e;
        color: black;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        width: 120px;
        height: 40px;
        padding: 1px 10px;
        margin-top: 20px;
        right: 0;
        position: fixed;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

    }
    .button {
        height: 40px;
        width: 200px;
        background-color: #4CAF50;
        border-color: grey;
        font-weight: bold;
        color: #263B27


    }
}

@media screen and (min-width: 600px) and  (max-width: 767px) /*tablet*/ {
    .menuCentrale
    {
        margin-top: 10%;
        margin-left: 10%;
    }

    table
    {
        font-family: Arial, Helvetica, sans-serif;
        width: 90%;
        height: auto;
        margin-right: 5%;
        border: 1px solid darkgrey;
        border-collapse: collapse;
        text-align: center;

    }

    h3
    {
        text-align: left;
        margin-left: 50%;
        margin-top: 20%;
        height: 200px;
    }

    #tdSx
    {

        width: 50%;

    }
    #tdDx
    {
        width: 50%;

    }

    form
    {
        display: inline;
    }
    #copertine
    {
        float: left;
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 2%;
    }
    #FirstRow {
        line-height: 1px;
        background-color: #B9B9B9
    }


    a:link, a:visited {
        background-color: #239bf3;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: rgba(35, 155, 243, 0.64);
    }

    #carrello
    {

        background-color: #f3235e;
        color: black;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        width: 120px;
        height: 40px;
        padding: 1px 10px;
        margin-top: 20px;
        right: 0;
        position: fixed;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

    }
    .button
    {
        height: 40px;
        width: 200px;
        background-color: #4CAF50;
        border-color: grey;
        font-weight: bold;
        color: #263B27
    }
}

@media screen and (min-width: 320px) and  (max-width: 599px)/*phone*/
{

    .menuCentrale
    {
        margin-top: 40%;
        margin-left: 10%;
        height: auto;
    }

    table
    {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: auto;
        text-align: center;
        margin-right: 5%;

    }

    #carrello
    {
        background-color: #f3235e;
        color: black;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        width: 120px;
        height: 40px;
        padding: 1px 10px;
        right: 0;
        position: fixed;
        margin-top: -10%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;

    }

    .button {
        height: 40px;
        width: 160px;
        background-color: #4CAF50;
        border-color: grey;
        font-weight: bold;
        color: #263B27;
        margin-top: 2px;
    }
    #tdSx
    {
        padding-top: 60px;
    }
    .menuCentrale
    {
        margin-left: 0px;
    }

    table
    {
        padding-top: 10%;
        width: 0px;
    }




}