.topContainer {
    width: 100%;
    height: 25%;
    position: relative;
    background: round;
    background-image: url("../images/icons/profileBackground.png");

}

.userTopInfoContainer {
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    width: 30%;
}
.userTopInfo img
{
    width: 60%;
}
.userTopInfo
{
    font-size: 1.5vw;
    color: white;
    display: inline-block;
    margin-left: 35%;
    width: 100%;
    margin-bottom: 5%;
}
#proPic
{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 30%;
}
#username
{
    color: white;
    text-shadow: 2px 2px 1px black;
}
#barraEspEsterna
{
    margin-top: 9px;
    width: 50%;
    border-radius: 20px;
    height: 14px;
    border: 2px solid black;
}

#barraEspInterna
{
    margin: 2px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 25%;
    height: 10px;
    background-color: green;
}

#livello
{
    width: 200px;
    font-family: verdana;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
}

.centralDiv
{
    height: 80%;
    background: #525c8e;
    margin-bottom: -2%;
}

.profileButtons
{
    width: 30%;
    margin: auto;
    background: #3a416a;
    height: 40px;
    line-height: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profileButtons a
{
    text-decoration: none;
    color: white;
    margin-left: 15%;
    font-size: 1vw;
}
.informationsContainer
{
    width: 40%;
    display: inline-block;
    height: 100%;
    margin-top: 5%;
    background: #3a416a;+
    border-radius: 20px;
}

.informations
{
    position: absolute;
    margin-left: 3%;
    width: 30%;
}
.informations p
{
    margin-left: 20%;
}
.informations .titolo
{
    color: white;
    font-size: 1.8vw;
    margin-left: 3%;
    margin-bottom: 10%;

}

.label
{
    color: antiquewhite;
}

.info
{
    color: white;
    margin-left: 10%;
}

.lastOrdersContainer
{
    width: 50%;
    display: inline-block;
    height: 100%;
    margin-top: 5%;
    background: #3a416a;
    margin-left: 5%;
    border-radius: 20px;
}

.lastOrders
{
    position: absolute;
    margin-left: 3%;
    width: 40%;
}
.lastOrders .titolo
{
    color: white;
    font-size: 1.8vw;
    margin-left: 3%;
    margin-bottom: 10%;
}
.order
{
    display: inline-block;
    margin-left: 8%;
    width: 20%;
    text-align: center;
}
.order img
{
    width: 80%;
}

.orderDetailsTable
{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 4%;
    border: none;
}
.orderDetailsTable td
{
    padding: 10px 10px 10px;
    text-align: center;
}
.orderDetailsTable tr:nth-child(even)
{
    background: #EEEEEE;
}
.orderDetailsTable tr:nth-child(odd)
{
    background: #cbcaca;
}
h2
{
    color: lightgray;
}
.dettagli
{
    height: 40px;
    width: 200px;
    border-radius: 120px;
    background-color: #04AA6D;
    border-color: #04AA6D;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 5px;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
}

.container {
    height: 150px;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

#labels {
    margin-top: 50px;
    font-size: 0.8vw;
    color: #ececec;
    font-weight: 100;
    margin-left: 5%;
    margin-bottom: 5%;

}

#info {
    color: white;
    font-size: 0.8vw;
    font-weight: bold;
}

#main-box {
    text-align: left;
    font-size: 1.3em;
    border-radius: 20px;
    background: #3a416a;

}

#videogames {
    color: #cbcaca;
    text-align: center;
    position: absolute;
}

#copertine {
    padding-left: 30px;
}

#quantità {
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.centralDivContainer
{
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 3%;
}
