<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>GameNyx</display-name>
  <welcome-file-list>
    <welcome-file>Products.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>control.PurchaseServlets.ProductInfoServlet</servlet-class>

    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.UserServlets.LoginServlet</servlet-class>

    <servlet-name>OrderInfo</servlet-name>
    <servlet-class>control.UserServlets.OrderInfoServlet</servlet-class>

  </servlet>
</web-app>